/* CSS Document */

div.building {
	background: #FFF;
	/*border: solid thin black;*/
	margin: 0;
	float: left;
}

.building.small {
	height: 100px;
	width: 100px;
	/*border-radius: 15px;*/
}

.building.medium {
	height: 80px;
	width: 80px;
}

.building.large {
	height: 180px;
	width: 180px;
}

html {
	cursor: none;
	background: #FFF;
}

body {
	height: 110%;
	width: 110%;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

div.button {
	height: 2em;
	padding: 0 25px;
	line-height: 2em;
	position: relative;
}